<h1><%= @patient.first_name %> <%= @patient.last_name %></h1>

<h3>Prescriptions</h3>
<span class="script-link"><%= link_to "Add Prescription", new_patient_prescription_path(@patient) %></span>


<table style="width:90%">
  <thead style="background-color: lightgray">
  <th>Medication</th>
  <th>Dosage/Schedule</th>
  <th>Dates</th>
  </thead>
  <tbody >
  <% @patient.prescriptions.each do |pscrip| %>
  <tr>
  <td><%= pscrip.medication %></td>
      <td><%= pscrip.dosage %>/<%= pscrip.schedule %></td>
      <td><%= pscrip.starts %>/<%= pscrip.ends %></td>
      </tr>
  <%end%>

  </tbody>
</table>